{% extends "layout.html" %}

{% block content %}﻿
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>More about me</title>

  <!-- Bootstrap core CSS -->
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="blog.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
        </div>
      </div>
    </header>

    <div class="jumbotron p-3 p-md- text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Journey In Art</h1>
        <p class="lead my-3">I have been drawing ever since I remember, although i took it a bit more seriously as I entered highschool. After a lot of fiddling around, I have finally settled with 3D as a choice of medium to deliver my work in.</p>
        </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Hard Surface Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{{url_for('static', filename='3.png')}}">Sci-Fi Armor Design</a>
            </h3>
            <div class="mb-1 text-muted">Oct 1</div>
            <p class="card-text mb-auto">One of my recent works done in blender and GIMP, the inspiration for this shot came from a variety of places</p>
          </div>
           <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{url_for('static', filename='3_thumbnail.png')}}" data-holder-rendered="true"><!---->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Industrial Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{{url_for('static', filename='7.png')}}">Wires And Grunge</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text mb-auto">This piece was made as I dabbled into rendering common, day-to-day objects and explored more the grungier textures. </p>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{{url_for('static', filename= '4_thumbnail.png')}}" data-holder-rendered="true" style="width: 200px; height: 250px;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Hard Surface Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{{url_for('static', filename='5.png')}}">Sci-Fi Helmet</a>
            </h3>
            <div class="mb-1 text-muted">August 31</div>
            <p class="card-text mb-auto">With this piece I was inpired to replicate a more Studio lighting in blender. I used this helmet I designed from a while ago as a focal point in this one  </p>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{{url_for('static', filename= '5_thumbnail.png')}}" data-holder-rendered="true" style="width: 200px; height: 250px;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Game Asset</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{{url_for('static', filename='6.png')}}">Grungy Door Lock</a>
            </h3>
            <div class="mb-1 text-muted">Aug 12</div>
            <p class="card-text mb-auto">This door lock/weapon design was inspired by silent hill games. I took a lot interest in texturing my works recently and this was the result. This was made in blender and rendered in Luxcore Render Engine</p>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{{url_for('static', filename= '6_thumbnail.png')}}" data-holder-rendered="true" style="width: 200px; height: 250px;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Cinematic Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{{url_for('static', filename='7.jpg')}}">The Goldfish and the gun </a>
            </h3>
            <div class="mb-1 text-muted">Sep 18</div>
            <p class="card-text mb-auto">This is one my more recent pieces, I was inspired by the films of David Lynch and tried replicating the more vibrant yet sinister looks that is a trademark of his films</p>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="{{url_for('static', filename= '7_thumbnail.png')}}" data-holder-rendered="true" style="width: 200px; height: 250px;">
        </div>
      </div>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          Straight into Rendering
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">Journey Towards Art</h2>

          <p>I first began dabbling into 3D back in the year 2009 when I was first introduced to the Open source software Blender. The visceral experience of creating and seeing objects in 3D space left me mesmerised, needless to say, i was hoocked and ever since then I have cultivated 3D art as a serious hobby and a passion of mine. I am adept at creating 3D geometry which includes (but not limited to) Humanoid Characters and creatures, flora, terrain and Interiors for architectural visualization. </p>
          <hr>
          <p>My major inspirations for creating 3D art also extends to my love of python scripting and automating processes, In a way, blender was my introduction to the wonderful language that I have come to respect as an indespensible tool of choice; Python.  <a href="#">Blender is an opensource software and can be found here </a>, Not only did I learn Blender as a serious hobby, I also took some photography and story-telling studies as a focus to hone my skill for scene composition, colour theory, anatomy, character design and crafting explorable 3D scenes is one of the ways that I see my self getting lost into in the next stages of my 3D journey, with Three.js and Blend4Web becoming a topic of interest for me currently </p>
          <blockquote>
            <p>Recently, I have become become obsessed with portraits and fluids. <strong>Fluids and simulation are one of the most intrguing yet difficult thing to master and requires a lot of real world reference study to get right. One of my aims is to simulate some nice simualtions including water-object collision studies, fluids following the usual product visualisation in fancy commercial product</p>
          </blockquote>
          <p>That being said, I've also dabbled a bit into the world of Godot and C# scripting is plenty exciting because <em>Game Development</em> Has long been a passion of mine and something that I have long admired the process of. Game development is both challenging and interesting. Logics break at every turn and yet you are tempted to try and test any solution on the top of your head because of the instant updation and results that can be interacted with.</p>


      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>


<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</body>
</html>
{% endblock %}
