{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Published paper in IEEE, London <i>(linked Below)</i><br />
    Published another paper in Journal of Forensic Science, Inderscience Publication<br />
</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/ranamit/">https://www.linkedin.com/in/ranamit/</a><br />
    <strong>IEEE:</strong> <a href="https://ieeexplore.ieee.org/document/9160230/authors#authors">https://ieeexplore.ieee.org/document/9160230/</a>
</address>

{% endblock %}
