{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>About Me</h1>
    <p class="lead">I am an <strike>inspiring</strike> aspiring Data Scientist and graduated in Computer Science Engineering in the Year 2020. I have always had an avid interest in computers and had alwyas thought myself as the &cup; of technology and science and got fascinated by the AI when I first stumbled onto it during my Highschool years. The mere display of a computer playting a game of marion and successfully beating it made me realsie the potential that there was in this technology and how much it can improve the lives of people. From Internet of things to Modules in 3d application, we can already see AI around us replacing many tedious tasks with automation. It is my sincere passion to able learna and utilise data in order to make the machines, a bit more <u>smarter</u> </p>
    <a href=" https://www.youtube.com/watch?v=qv6UVOQ0F44&t"></a>
    <p><a href="https://www.youtube.com/watch?v=CZ3wIuvmHeM" class="btn btn-primary btn-large">The thing that has recently inspired me &raquo;</a></p>
</div>

<div class="= "jumbotron">
    <h1>Highlights</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2> Research Paper- Machine Learning</h2>
        <p>
            Published a paper in IEEE, London on Machine learning regarding <i>"A Comparative Study and enhancement of classification techniques using Principal Component Analysis for credit card dataset"</i>
        </p>
        <p><a class="btn btn-default" href="https://ieeexplore.ieee.org/document/9160230/authors#authors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research Paper - Machine Learning Improved</h2>
        <p>
           Another paper in journal of Inderscience, titled "Enhancement of classification techniques using Principal Component Analysis and class imbalance handling methods in credit card defaulter detection"
        </p>
        <p><a class="btn btn-default" href="https://www.inderscience.com/jhome.php?jcode=ijfe">Learn more&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Musical Compositon and Professional works</h2>
        <p>Composed music for Technological Youtubers including Electronic Dance music, Orchestral. Special expertise - Music mastering, mixing & audio for cd exports </p>
        <p><a class="btn btn-default" href="https://soundcloud.com/ddcc371">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
